.header__lang-link {
  max-width: 30px;
  max-height: 28px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration-line: underline;
  color: #FFF;
}

.header__lang-link:last-child {
  max-width: 29px;
  max-height: 28px;
  text-decoration: none;
}