.cover__subtitle {
  max-width: 360px;
  max-height: 66px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  z-index: 1;
}

/* max-with 666 (soft adaptive transition) */
@media screen and (max-width: 666px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
