.place__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-self: start;
}

@media screen and (max-width: 868px) {
  .place__paragraphs {
    gap: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraphs {
    margin: 0 16px 0;
  }
}
