.place__paragraph {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: left;
}

@media screen and (max-width: 868px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
