.lead__image {
  max-width: 100%;
  object-fit: contain;
  margin: 64px auto 0;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin: 56px auto 0;
  }
}

/* max-with 666 (soft adaptive transition) */
@media screen and (max-width: 666px) {
  .lead__image {
    margin: 40px auto 0;
  }
}
