.lead__subtitle {
  max-width: 640px;
  min-width: 288px;
  max-height: 72px;
  min-height: 40px;
  margin: 32px auto 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}